nav {
  background-color: rgb(3, 0, 5);
  color: rgb(245, 239, 239);
  font-size: 50px;
  font-family: Lobster, cursive;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(195, 191, 191, 0.903);
}

.marvel-card {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  background-color: rgb(253, 250, 250);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(15, 15, 15);
}

.image {
  width: 100%;
  height: 450px;
  min-height: 150px;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 25px;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: rgb(240, 238, 238);
  background-color: black;
}

.btn-readMore {
  display: inline-flex;
  font-size: 12px;
  background-color: rgb(235, 32, 32);
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 10px 100px / 120px;
}

.btn-readMore:hover {
  background-color: rgb(128, 6, 6);
  transition: all 0.25s;
}
